@media (max-width: 64em) {
  .WeatherLocationListCont {
    height: 130px;
    overflow-y: auto;
    margin-bottom: 30px;
  }
}
.ExtendedWeatherCont{
  background-color: #ddd;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 10px 10px 40px -15px rgb(0, 0, 0, 0.75);
} 